

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<div class="jumbotron">
    <h1>Gestão de acessos Winplex</h1>
    <p class="lead">Módulo de gestão de acessos Winplex</p>
    <p><a href="@Url.Action("Cadastrar","GestaoSenha")" class="btn btn-primary btn-lg">Cadastrar</a></p> 
</div>

<div class="row">
 
</div> 